{% extends '_base.njk' %}


{% block title %}REST Countries{% endblock %}


{% block content %}
    <header>
        <div class="container">
            <h1>Where in the world?</h1>
            <p>Dark Mode</p>
        </div>
    </header>


        <div class="detail" id="detail">
            
				<img src="" alt="" />
				<div class="detail-body"></div>
			</div>


    


    <script src="js/detail.js"></script>
{% endblock %}
