{% extends '_base.njk' %}


{% block title %}REST Countries{% endblock %}


{% block content %}
    <header>
        <div class="container">
            <h1>Where in the world?</h1>
            <p>Dark Mode</p>
        </div>
    </header>
    <section class="search-country">
    <form>
        <input type="text" name="search" id="inputSearch" placeholder="Search for a country..."/>
    </form>
    <select>
        <option value="Filter">Filter by Region</option>
        <option value="Africa">Africa</option>
        <option value="America">America</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
    </select>
    </section>

    <div class="js-countries"></div>


    <script src="js/custom.js"></script>
{% endblock %}
